.sampo-title {
  font-size: 100px;
  margin: 50px;
}

.sampo-timer-button {
  padding: 20px 100px;
  border: none;
  box-shadow: 5px 5px 15px -5px #363636;
  border-radius: 5px;
  background-color: #f2c057;
  color: black;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
}

.sampo-anime-container {
  background-color: #363636;
  padding: 30px;
  border-radius: 5px;
}
.sampo-timer-text {
  font-size: 100px;
}
.sampo-timer-text.click {
  font-size: 100px;
  animation: opa 1s linear infinite;
}

@keyframes opa {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
